.Wrapper{
    max-width: 1200px;
    margin: 100px auto;
    .Blog{
        text-align: center;
        font-family: 'Righteous', cursive;
        padding: 50px 0 20px 0;
        font-size: 2.5em;
        color: #9d65c9;
    }
    .Des{
        text-align: center;
        margin-bottom: 50px;
    }
    .ListPost{
        max-width: 800px;
        padding: 20px;
        margin: auto;
    }
}